.student-data{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: blue;
    color: aliceblue;
    border: 1px solid #ddd;
    padding: 8px;
}
.student-form{
        background-color: blue;
        padding: 20px;
        border-radius: 10px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }